```css
   /* Importar la fuente Roboto de Google Fonts */
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

   /* Aplicar la fuente Roboto al cuerpo del documento */
   body {
     font-family: 'Roboto', sans-serif;
   }

   /* Aplicar la fuente Roboto en negrita a los encabezados */
   h1, h2, h3, h4, h5, h6 {
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
   }

   /* Aplicar la fuente Roboto a los elementos de código y preformateados */
   code, pre {
     font-family: 'Roboto Mono', monospace;
   }

h1.custom-title {
  background-color: #78B7C4; /* Fondo verde */
  color: white;              /* Texto blanco */
  padding: 10px;             /* Espaciado interno */
  border-radius: 5px;        /* Bordes redondeados */
}

.center-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reveal section .slide-background iframe {
  width: 100% !important;
  height: 100% !important;
  border: none;
}